 p {
      color:  red;
 }
 div {
     text-decoration: underline;
 }
 li {
     font-size: 20px ;
     color: #ccc;
     background: cadetblue;
 }
 #blue{
      color: blue;
 }
 .brown{
     color: brown;
 }

 li.brown{
     text-decoration: underline;
     background: coral;
 }

 #button{
    text-decoration:none ;
    background: #555;
    width: 150px;
    color: #eee;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid black;
    border-radius: 5px;
 } 

 #button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .5s;
    background: #777;
 }

 #button:active{
     background: #333;
 }